Repository matrix-org/synapse, pull requests merged in 2019-06, with the labels that each got.

#5343 Rename VerifyKeyRequest.deferred field
  changelog.d/5343.misc
  synapse/crypto/keyring.py
Labels: Synapse v1.0

#5347 Clean up debug logging
  changelog.d/5347.misc
  synapse/crypto/event_signing.py
  synapse/crypto/keyring.py
  synapse/federation/federation_client.py
Labels: Synapse v1.0

#5348 Add a test room version where we enforce key validity
  changelog.d/5348.bugfix
  synapse/api/room_versions.py
  synapse/federation/federation_base.py
Labels: Synapse v1.0

#5352 Fix background updates to handle redactions/rejections
  changelog.d/5352.bugfix
  synapse/handlers/presence.py
  synapse/handlers/stats.py
  synapse/storage/events_worker.py
  tests/handlers/test_stats.py
Labels: Synapse v1.0, release blocker

#5360 Neilj/add r0.5 to versions
  changelog.d/5360.feature
  synapse/rest/client/versions.py
Labels: Synapse v1.0

#5362 Fix `federation_custom_ca_list` configuration option.
  changelog.d/5362.bugfix
  synapse/config/tls.py
Labels: Synapse v1.0

#5353 Associate a request_name with each verify request, for logging
  changelog.d/5353.misc
  synapse/crypto/keyring.py
  synapse/federation/federation_base.py
  synapse/federation/transport/server.py
  synapse/groups/attestations.py
  tests/crypto/test_keyring.py
Labels: Synapse v1.0

#5354 Implement room v5 which enforces signing key validity
  changelog.d/5354.bugfix
  synapse/api/room_versions.py
Labels: Synapse v1.0

#5355 Include left members in room summaries' heroes
  changelog.d/5355.bugfix
  synapse/handlers/sync.py
Labels: Synapse v1.0

#5361 add a script to generate new signing_key files
  changelog.d/5361.feature
  scripts/generate_signing_key.py
Labels: Synapse v1.0

#5089 Make /sync return heroes if room name or canonical alias are empty
  changelog.d/5089.bugfix
  synapse/handlers/sync.py
Labels: Synapse v1.0

#5369 Fix missing logcontext for PresenceHandler.on_shutdown.
  changelog.d/5369.bugfix
  synapse/handlers/presence.py
Labels: Synapse v1.0

#5345 Send password reset from HS: Sending the email
  changelog.d/5345.feature
  docs/sample_config.yaml
  synapse/config/emailconfig.py
  synapse/config/tls.py
  synapse/handlers/identity.py
  synapse/push/mailer.py
  synapse/push/pusher.py
  synapse/python_dependencies.py
  synapse/res/templates/password_reset.html
  synapse/res/templates/password_reset.txt
  synapse/rest/client/v2_alpha/account.py
  synapse/storage/_base.py
  synapse/storage/registration.py
  tests/utils.py
Labels: Synapse v1.0

#5368 Send password reset from HS: Accepting the token
  changelog.d/5368.feature
  docs/sample_config.yaml
  synapse/app/homeserver.py
  synapse/config/emailconfig.py
  synapse/handlers/auth.py
  synapse/res/templates/password_reset_failure.html
  synapse/res/templates/password_reset_success.html
  synapse/rest/client/v2_alpha/account.py
  synapse/storage/registration.py
Labels: Synapse v1.0

#5371 Neilj/1.0 upgrade notes
  INSTALL.md
  UPGRADE.rst
  changelog.d/5371.feature
  docs/MSC1711_certificates_FAQ.md
Labels: Synapse v1.0

#5320 Make a full SQL schema
  MANIFEST.in
  changelog.d/5320.misc
  synapse/storage/prepare_database.py
  synapse/storage/schema/full_schemas/54/full.sql.postgres
  synapse/storage/schema/full_schemas/54/full.sql.sqlite
  synapse/storage/schema/full_schemas/54/stream_positions.sql
  synapse/storage/schema/full_schemas/README.txt
Labels: Synapse v1.0

#5379 Set default room version to v4.
  changelog.d/5379.feature
  docs/sample_config.yaml
  synapse/config/server.py
  tests/storage/test_cleanup_extrems.py
  tests/utils.py
Labels: Synapse v1.0

#5392 Improve startup checks for insecure notary configs
  changelog.d/5392.bugfix
  synapse/config/key.py
  synapse/crypto/keyring.py
Labels: Synapse v1.0

#5415 Fix key verification when key stored with null valid_until_ms
  changelog.d/5415.bugfix
  synapse/storage/keys.py
  tests/crypto/test_keyring.py
Labels: Synapse v1.0

#5418 Fix bug sending federation transactions with lots of EDUs
  changelog.d/5418.bugfix
  synapse/storage/deviceinbox.py
Labels: Synapse v1.0

#5419 Neilj/improve federation docs
  INSTALL.md
  changelog.d/5419.doc
  docs/MSC1711_certificates_FAQ.md
  docs/federate.md
Labels: Synapse v1.0

#5416 Add unique index to the profile_replication_status table.
  changelog.d/5083.feature
  changelog.d/5416.misc
  synapse/rest/client/v1/profile.py
  synapse/storage/profile.py
  synapse/storage/schema/delta/55/profile_replication_status_index.sql
Labels: dinsic

#5420 Add configuration option to hide new users from the user directory
  changelog.d/5420.feature
  docs/sample_config.yaml
  synapse/config/server.py
  synapse/handlers/register.py
  tests/rest/client/v2_alpha/test_register.py
Labels: dinsic

#5463 Port "Don't send renewal emails to deactivated users" to dinsic
  changelog.d/5394.bugfix
  synapse/handlers/account_validity.py
  synapse/handlers/deactivate_account.py
  synapse/storage/_base.py
  synapse/storage/registration.py
  tests/rest/client/v2_alpha/test_register.py
Labels: dinsic

#5466 Port "Fix background job for deactivated flag" to dinsic
  changelog.d/5465.misc
  synapse/storage/registration.py
Labels: dinsic

#5471 Port "Fix 3PID invite room state over federation" to dinsic
  changelog.d/5464.bugfix
  docker/README.md
  synapse/handlers/federation.py
Labels: dinsic

#5474 Add third party rules hook into create room
  changelog.d/5474.feature
  synapse/events/third_party_rules.py
  synapse/handlers/room.py
Labels: dinsic

#5481 Port "Add third party rules hook for 3PID invites" to dinsic
  changelog.d/5477.feature
  synapse/events/third_party_rules.py
  synapse/handlers/room_member.py
Labels: dinsic

#5484 Implement custom access rules
  synapse/third_party_rules/__init__.py
  synapse/third_party_rules/access_rules.py
  tests/rest/client/test_room_access_rules.py
Labels: dinsic

#5495 Port "Fix typo in deactivation background job" to dinsic
  changelog.d/5493.misc
  synapse/storage/registration.py
Labels: dinsic

#5542 Port "Split public rooms directory auth config in two" to dinsic
  changelog.d/5534.feature
  docs/sample_config.yaml
  synapse/config/server.py
  synapse/federation/transport/server.py
  synapse/rest/client/v1/room.py
  tests/rest/client/v1/test_rooms.py
Labels: dinsic

#5574 Fix new 3PID bindings being associated with rewritten IS's server names instead of the original one
  synapse/handlers/identity.py
Labels: dinsic

#5577 Port #5576 to dinsic
  changelog.d/5576.bugfix
  synapse/handlers/room_member.py
Labels: dinsic
