Repository matrix-org/synapse, pull requests merged in 2023-07, with the labels that each got.

#15751 Add foreign key constraint to `event_forward_extremities`.
  changelog.d/15751.misc
  synapse/_scripts/synapse_port_db.py
  synapse/storage/background_updates.py
  synapse/storage/database.py
  synapse/storage/databases/main/event_federation.py
  synapse/storage/databases/main/events.py
  synapse/storage/schema/main/delta/78/03event_extremities_constraints.py
  tests/storage/test_background_update.py
  tests/storage/test_event_federation.py
Labels: A-Database

#15851 Remove support for Python 3.7
  .ci/scripts/calculate_jobs.py
  .github/workflows/release-artifacts.yml
  .github/workflows/tests.yml
  changelog.d/15851.removal
  docker/Dockerfile-dhvirtualenv
  docs/setup/installation.md
  docs/upgrade.md
  poetry.lock
  pyproject.toml
  synapse/__init__.py
  synapse/util/check_dependencies.py
  tests/metrics/test_metrics.py
Labels: T-Task

#15773 Federation outbound proxy
  changelog.d/15773.feature
  docs/usage/configuration/config_documentation.md
  docs/workers.md
  synapse/app/_base.py
  synapse/app/generic_worker.py
  synapse/app/homeserver.py
  synapse/config/workers.py
  synapse/http/client.py
  synapse/http/matrixfederationclient.py
  synapse/http/proxy.py
  synapse/http/proxyagent.py
  synapse/http/server.py
  synapse/http/site.py
  tests/app/test_openid_listener.py
  tests/handlers/test_device.py
  tests/handlers/test_federation.py
  tests/handlers/test_presence.py
  tests/handlers/test_typing.py
  tests/http/test_matrixfederationclient.py
  tests/http/test_proxy.py
  tests/replication/_base.py
  tests/replication/test_federation_sender_shard.py
  tests/rest/client/test_presence.py
  tests/rest/client/test_rooms.py
  tests/storage/test_e2e_room_keys.py
  tests/storage/test_purge.py
  tests/storage/test_rollback_worker.py
  tests/test_server.py
  tests/unittest.py
Labels: A-Federation, Z-Time-Tracked

#15907 Fix downgrading to previous version of Synapse
  changelog.d/15907.misc
  synapse/storage/background_updates.py
  synapse/storage/databases/main/event_federation.py
  synapse/storage/schema/main/delta/78/03event_extremities_constraints.py
  tests/storage/test_background_update.py
Labels: X-Release-Blocker

#15888 Make the media `/upload` tracing less ambiguous
  changelog.d/15888.misc
  synapse/media/media_storage.py
  synapse/media/storage_provider.py
Labels: A-Media-Repository, T-Task

#15922 Better warning in logs when we fail to fetch an alias
  changelog.d/15922.misc
  synapse/handlers/directory.py
Labels: A-Logging

#15921 Better clarify how to run a worker instance (pass both configs)
  changelog.d/15921.doc
  docs/workers.md
Labels: A-Docs, A-Workers, A-Config

#15820 Fix push for invites received over federation
  changelog.d/15820.bugfix
  synapse/push/push_tools.py
Labels: A-Federation, A-Push, A-Invite

#15913 Re-introduce the outbound federation proxy
  changelog.d/15913.feature
  docs/usage/configuration/config_documentation.md
  docs/workers.md
  synapse/api/errors.py
  synapse/app/_base.py
  synapse/app/generic_worker.py
  synapse/app/homeserver.py
  synapse/config/workers.py
  synapse/http/client.py
  synapse/http/connectproxyclient.py
  synapse/http/matrixfederationclient.py
  synapse/http/proxy.py
  synapse/http/proxyagent.py
  synapse/http/server.py
  synapse/http/site.py
  tests/app/test_openid_listener.py
  tests/handlers/test_device.py
  tests/handlers/test_federation.py
  tests/handlers/test_presence.py
  tests/handlers/test_typing.py
  tests/http/test_matrixfederationclient.py
  tests/http/test_proxy.py
  tests/http/test_proxyagent.py
  tests/replication/_base.py
  tests/replication/test_federation_sender_shard.py
  tests/rest/client/test_presence.py
  tests/rest/client/test_rooms.py
  tests/storage/test_e2e_room_keys.py
  tests/storage/test_purge.py
  tests/storage/test_rollback_worker.py
  tests/test_server.py
  tests/unittest.py
Labels: A-Federation, Z-Time-Tracked

#15525 Inline SQL queries using boolean parameters
  changelog.d/15525.misc
  synapse/storage/databases/main/event_federation.py
  synapse/storage/databases/main/events.py
  synapse/storage/databases/main/purge_events.py
  synapse/storage/databases/main/push_rule.py
  synapse/storage/databases/main/registration.py
  synapse/storage/databases/main/room.py
  synapse/storage/databases/main/stream.py
Labels: A-Database
