Repository matrix-org/synapse, pull requests merged in 2023-11, with the labels that each got.

#16051 Remove whole table locks on push rule add/delete
  changelog.d/16051.misc
  synapse/storage/databases/main/push_rule.py
Labels: X-Awaiting-Changes

#15503 Asynchronous Uploads
  changelog.d/15503.feature
  docs/usage/configuration/config_documentation.md
  synapse/api/errors.py
  synapse/config/ratelimiting.py
  synapse/config/repository.py
  synapse/media/_base.py
  synapse/media/media_repository.py
  synapse/rest/media/create_resource.py
  synapse/rest/media/download_resource.py
  synapse/rest/media/media_repository_resource.py
  synapse/rest/media/thumbnail_resource.py
  synapse/rest/media/upload_resource.py
  synapse/storage/databases/main/media_repository.py
  tests/media/test_media_storage.py
Labels: A-Media-Repository

#16653 Fix building wheels.
  .github/workflows/release-artifacts.yml
  changelog.d/16653.misc
Labels: X-Release-Blocker
